body, html {
    height: 100%;
    display: grid;
  }
  .outer-container {
    margin: auto;
  }

:root {
--bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--paragraphs: hsla(0, 0%, 100%, 0.75);
--other-text: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
    }
}

h1 {
    color: var(--other-text);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

p {
    color: var(--paragraphs);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 30px;
    margin-bottom: 60px;
}

@media screen and (min-width: 1000px) {
    p {
        line-height: 30px;
        margin-bottom: 60px;
    }
}

a {
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 15px;
}

a.sedans-link {
    color: var(--bright-orange);
}

a.sedans-link:active {
    color: white;
    border: 2px solid white;
    background-color: var(--bright-orange);
}

a.suvs-link {
    color: var(--Dark-cyan);
}

a.suvs-link:active {
    color: white;
    border: 2px solid white;
    background-color: var(--Dark-cyan);
}

a.luxury-link {
    color: var(--Very-dark-cyan);
}

a.luxury-link:active {
    color: white;
    border: 2px solid white;
    background-color: var(--Very-dark-cyan);
}

@media screen and (min-width: 1000px) {
    a {
        padding: 15px 30px;
        font-size: 15px;
    }
}

.sedans {
    background-color: var(--bright-orange);
    margin: 0 auto;
    padding: 35px;
    max-width: 280px;
    border-radius: 10px 10px 0px 0px;
    min-height: 400px;
}

@media screen and (min-width: 1000px) {
    .sedans {
        min-height: 400px;
        max-width: 220px;
        border-radius: 10px 0px 0px 10px;
        padding: 35px 35px 10px 35px;
    }
}

.suvs {
    background-color: var(--Dark-cyan);
    margin: 0 auto;
    padding: 35px;
    max-width: 280px;
    min-height: 400px;
}

@media screen and (min-width: 1000px) {
    .suvs {
        min-height: 400px;
        max-width: 220px;
        border-radius: 0px 0px 0px 0px;
        padding: 35px 35px 10px 35px;
    }
}

.luxury {
    background-color: var(--Very-dark-cyan);
    margin: 0 auto;
    padding: 35px;
    max-width: 280px;
    min-height: 400px;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 1000px) {
    .luxury {
        min-height: 400px;
        max-width: 220px;
        border-radius: 0px 10px 10px 0px;
        padding: 35px 35px 10px 35px;
    }
}

.attribution {
    font-size: 14px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Very-dark-cyan);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    padding: 0px;
}

.attribution a:nth-child(1) {
    margin-right: 20px;
}